In [22]:
# Objective: Scrap data from web page (site: wikipedia)
#
# Source1: Get Internet data using Python (PT) (General view)
#          https://www.youtube.com/watch?v=DPXOl_q-kng 
# Source2: Learn How to Read HTML Tables with Pandas in Minutes (EN) (Tips on 'beautiful soup' and data format)
#          https://www.youtube.com/watch?v=8fVDtQDI_f0 
#
# Author: Car\los E. G. Araujo (cegaraujo@gmail.com)
# Created: 04-Fev-2025 / Last update: 05-Jan-2025
# Running on: Kaggle

In [23]:
#
# Working with virtual environments (venv)
# Create virtual environment >> Mac terminal command: python3 -m venv ./<name_of_venv>
# Activate virtual environmernt >> Mac terminal command: source ./<name_of_venv>/bin/activate 
# Result: prompt will change including <name_of_venv>
# Deactivate virtual environmernt >> Mac terminal command:deactivate 
#
# Import Libraries
#
import pandas as pd
#

In [24]:
# Extract data from table using web link
#
url_source_pt = "https://pt.wikipedia.org/wiki/Lista_de_filmes_de_maior_bilheteria"
tables = pd.read_html(url_source_pt, flavor='bs4') # Many tables on web page - 'bs4'from video source 2
print(len(tables),"elements on url.") # quantity of elements on the list
table = tables[0] # Display first table from many tables on web page
# Display element (table) of interest from the list
table

12 elements on url.

,Ranking,Ano,Filme,Distribuidor,Diretor(a),Bilheteria (US$),Ref.
0,1,2009,Avatar,20th Century Fox,James Cameron,2 923 706 026,[1]
1,2,2019,Vingadores: Ultimato,Walt Disney Studios Motion Pictures,Joe Russo / Anthony Russo,2 799 439 100,[2]
2,3,2022,Avatar: O Caminho da Água,20th Century Studios,James Cameron,2 320 250 281,[3]
3,4,1997,Titanic,Paramount Pictures / 20th Century Fox,James Cameron,2 264 743 305,[4]
4,5,2015,Star Wars: O Despertar da Força,Walt Disney Studios Motion Pictures,J.J. Abrams,2 071 310 218,[5]
...,...,...,...,...,...,...,...
95,96,2023,Guardiões da Galáxia Vol. 3,Walt Disney Studios Pictures,James Gunn,845 536 306,[100]
96,97,2009,Transformers: A Vingança dos Derrotados,Paramount Pictures,Michael Bay,836 303 693,[101]
97,98,2002,Homem-Aranha,Columbia Pictures,Sam Raimi,825 025 036,[102]
98,99,2017,Mulher-Maravilha,Warner Bros. Pictures,Patty Jenkins,822 854 286,[103]
99,100,2021,"Hi, Mom",China Film Group,Jia Ling,822 009 764,[104]

In [25]:
# Filter table by columns of interest
filtered_table = table[["Diretor(a)","Bilheteria (US$)"]]
filtered_table

                   Diretor(a) Bilheteria (US$)
0               James Cameron    2 923 706 026
1   Joe Russo / Anthony Russo    2 799 439 100
2               James Cameron    2 320 250 281
3               James Cameron    2 264 743 305
4                 J.J. Abrams    2 071 310 218
..                        ...              ...
95                 James Gunn      845 536 306
96                Michael Bay      836 303 693
97                  Sam Raimi      825 025 036
98              Patty Jenkins      822 854 286
99                   Jia Ling      822 009 764

[100 rows x 2 columns]

In [26]:
# Adjust column "Bilheteria (US$)". Transform to correct format 
filtered_table.info()
#
# Changing format of "Bilheteria (US$)" to number
#
# Step 1: Remove spaces from string and convert string to integer (because column content has no decimals)
filtered_table["Bilheteria (US$)"] = filtered_table["Bilheteria (US$)"].str.replace(" ","")
# After remove " ", we discover record 21 contains character "." 
# Evidence: 21 J.A Bayona 1.308.497.944 << "." in string value
# Commands: 'pd.set_option("display.max_rows", None, "display.max_columns", None)' >> Display all records
# and 'print(filtered_table)'were used to investigate
# Next step: remove "."
filtered_table["Bilheteria (US$)"] = filtered_table["Bilheteria (US$)"].str.replace(".","")
#
print("\n>>> Result after conversion: blank'and '.' removed and 'Bilheteria (US$)' is now 'ínt64' <<<\n")
#
filtered_table
#
# Step 2: Convert string to integer (because column content has no decimals, otherwise 'float' would be used)
filtered_table["Bilheteria (US$)"] = filtered_table["Bilheteria (US$)"].astype(int)
#
filtered_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Diretor(a)        100 non-null    object
 1   Bilheteria (US$)  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

>>> Result after conversion: blank'and '.' removed and 'Bilheteria (US$)' is now 'ínt64' <<<

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Diretor(a)        100 non-null    object
 1   Bilheteria (US$)  100 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.7+ KB

<ipython-input-26-d35e9fd27c13>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_table["Bilheteria (US$)"] = filtered_table["Bilheteria (US$)"].str.replace(" ","")
<ipython-input-26-d35e9fd27c13>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_table["Bilheteria (US$)"] = filtered_table["Bilheteria (US$)"].str.replace(".","")
<ipython-input-26-d35e9fd27c13>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_table["Bilheteria (US$)"] = filtered_table["Bilheteria (US$)"].astype(int)

In [27]:
# Group "Bilheteria (US$)" by the same "Diretor(a)"
#
grouped_table = filtered_table.groupby("Diretor(a)").sum()
grouped_table["Bilheteria (US$)"] = grouped_table["Bilheteria (US$)"]
grouped_table

                                               Bilheteria (US$)
Diretor(a)
Andrew Adamson / Kelly Asbury / Conrad Vernon         928760770
Andrew Stanton                                       1970904949
Bill Condon                                          2114709912
Brad Bird                                            1243225667
Bryan Singer                                          910809311
...                                                         ...
Taika Waititi                                         855301806
Tim Burton                                           1025468216
Todd Phillips                                        1074458282
Wu Jing                                               870325439
Zack Snyder                                           873637528

[63 rows x 1 columns]

In [28]:
# Sort grouped_table by "Bilheteria (US$)"
#
grouped_table = grouped_table.sort_values("Bilheteria (US$)",ascending=False)
grouped_table

                           Bilheteria (US$)
Diretor(a)
James Cameron                    7508699612
Joe Russo / Anthony Russo        6006900555
Peter Jackson                    5932042504
David Yates                      4196742488
Christopher Nolan                3934482720
...                                     ...
Pete Docter                       859076254
Ruben Fleischer                   856085151
Taika Waititi                     855301806
Patty Jenkins                     822854286
Jia Ling                          822009764

[63 rows x 1 columns]

In [29]:
# Printing all the rows
# Set parameter to have no limits for max_rows and max_columns
pd.set_option("display.max_rows", None, "display.max_columns", None)
grouped_table

                                                 Bilheteria (US$)
Diretor(a)
James Cameron                                          7508699612
Joe Russo / Anthony Russo                              6006900555
Peter Jackson                                          5932042504
David Yates                                            4196742488
Christopher Nolan                                      3934482720
Jon Watts                                              3924328513
J.J. Abrams                                            3148332590
Michael Bay                                            3064151844
Joss Whedon                                            2925556584
Chris Buck / Jennifer Lee                              2738223994
Sam Raimi                                              2675784213
Colin Trevorrow                                        2673515524
James Wan                                              2663869792
Jon Favreau                                            2630800176
Ryan Coogler                                           2209134919
Kyle Balda / Pierre Coffin                             2194244793
Bill Condon                                            2114709912
Gore Verbinski                                         2027870956
Sam Mendes                                             2023176607
Andrew Stanton                                         1970904949
Chris Columbus                                         1949511318
George Lucas                                           1909954022
Chris Renaud                                           1863454921
James Gunn                                             1709292357
Kelsey Mann                                            1698778437
Joseph Kosinski                                        1495696292
Greta Gerwig                                           1445638421
Michael Jelenic / Aaron Horvath                        1360325400
Shawn Levy                                             1338073645
Rian Johnson                                           1334407706
J.A Bayona                                             1308497944
Brad Bird                                              1243225667
F. Gary Gray                                           1236005118
Shane Black                                            1215577205
Ryan Fleck / Anna Boden                                1131416446
Steven Spielberg                                       1109802321
Todd Phillips                                          1074458282
Josh Cooley                                            1073841394
Lee Unkrich                                            1067316101
Gareth Edwards                                         1058682142
Guy Ritchie                                            1054304000
Rob Marshall                                           1046721266
David Derrick Jr./Jason Hand/Dana Ledoux Miller        1037197703
Tim Burton                                             1025468216
Byron Howard / Rich Moore                              1023784195
Jake Kasdan                                             995339117
Roger Allers / Rob Minkoff                              978832363
Pierre Coffin / Chris Renaud                            970766005
Kyle Balda                                              939628210
Andrew Adamson / Kelly Asbury / Conrad Vernon           928760770
Bryan Singer                                            910809311
Chen Kaige / Tsui Hark / Dante Lam                      902548476
Mike Newell                                             896815106
Carlos Saldanha                                         886686817
Steve Martino / Mike Thurmeier                          877244782
Zack Snyder                                             873637528
Wu Jing                                                 870325439
Francis Lawrence                                        865011746
Pete Docter                                             859076254
Ruben Fleischer                                         856085151
Taika Waititi                                           855301806
Patty Jenkins                                           822854286
Jia Ling                                                822009764

In [30]:
# Printing all the rows using thousand separator in column "Bilheteria (US$)"
# 
# df['col'] = df['col'].apply(lambda x : "{:,}".format(x)) 
# >> Beware that this converts your integers/floats to strings.
grouped_table["Bilheteria (US$)"] = grouped_table["Bilheteria (US$)"].apply(lambda x : "{:,}".format(x))
grouped_table

                                                Bilheteria (US$)
Diretor(a)
James Cameron                                      7,508,699,612
Joe Russo / Anthony Russo                          6,006,900,555
Peter Jackson                                      5,932,042,504
David Yates                                        4,196,742,488
Christopher Nolan                                  3,934,482,720
Jon Watts                                          3,924,328,513
J.J. Abrams                                        3,148,332,590
Michael Bay                                        3,064,151,844
Joss Whedon                                        2,925,556,584
Chris Buck / Jennifer Lee                          2,738,223,994
Sam Raimi                                          2,675,784,213
Colin Trevorrow                                    2,673,515,524
James Wan                                          2,663,869,792
Jon Favreau                                        2,630,800,176
Ryan Coogler                                       2,209,134,919
Kyle Balda / Pierre Coffin                         2,194,244,793
Bill Condon                                        2,114,709,912
Gore Verbinski                                     2,027,870,956
Sam Mendes                                         2,023,176,607
Andrew Stanton                                     1,970,904,949
Chris Columbus                                     1,949,511,318
George Lucas                                       1,909,954,022
Chris Renaud                                       1,863,454,921
James Gunn                                         1,709,292,357
Kelsey Mann                                        1,698,778,437
Joseph Kosinski                                    1,495,696,292
Greta Gerwig                                       1,445,638,421
Michael Jelenic / Aaron Horvath                    1,360,325,400
Shawn Levy                                         1,338,073,645
Rian Johnson                                       1,334,407,706
J.A Bayona                                         1,308,497,944
Brad Bird                                          1,243,225,667
F. Gary Gray                                       1,236,005,118
Shane Black                                        1,215,577,205
Ryan Fleck / Anna Boden                            1,131,416,446
Steven Spielberg                                   1,109,802,321
Todd Phillips                                      1,074,458,282
Josh Cooley                                        1,073,841,394
Lee Unkrich                                        1,067,316,101
Gareth Edwards                                     1,058,682,142
Guy Ritchie                                        1,054,304,000
Rob Marshall                                       1,046,721,266
David Derrick Jr./Jason Hand/Dana Ledoux Miller    1,037,197,703
Tim Burton                                         1,025,468,216
Byron Howard / Rich Moore                          1,023,784,195
Jake Kasdan                                          995,339,117
Roger Allers / Rob Minkoff                           978,832,363
Pierre Coffin / Chris Renaud                         970,766,005
Kyle Balda                                           939,628,210
Andrew Adamson / Kelly Asbury / Conrad Vernon        928,760,770
Bryan Singer                                         910,809,311
Chen Kaige / Tsui Hark / Dante Lam                   902,548,476
Mike Newell                                          896,815,106
Carlos Saldanha                                      886,686,817
Steve Martino / Mike Thurmeier                       877,244,782
Zack Snyder                                          873,637,528
Wu Jing                                              870,325,439
Francis Lawrence                                     865,011,746
Pete Docter                                          859,076,254
Ruben Fleischer                                      856,085,151
Taika Waititi                                        855,301,806
Patty Jenkins                                        822,854,286
Jia Ling                                             822,009,764

In [31]:
# Restore parameter for 'max_rows' and 'max_columns'
pd.set_option("display.max_rows", 10, "display.max_columns", 10)
grouped_table
print(grouped_table)
grouped_table.info() # Observe "Bilheteria (US$)" was converted from 'int' to 'string'

                          Bilheteria (US$)
Diretor(a)
James Cameron                7,508,699,612
Joe Russo / Anthony Russo    6,006,900,555
Peter Jackson                5,932,042,504
David Yates                  4,196,742,488
Christopher Nolan            3,934,482,720
...                                    ...
Pete Docter                    859,076,254
Ruben Fleischer                856,085,151
Taika Waititi                  855,301,806
Patty Jenkins                  822,854,286
Jia Ling                       822,009,764

[63 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, James Cameron to Jia Ling
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Bilheteria (US$)  63 non-null     object
dtypes: object(1)
memory usage: 1008.0+ bytes